
html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM sans', sans-serif;
}

body{
    background-color: #0d0d0d;
    color: lightgrey;
}

section{
    height: 100vh;
    scroll-snap-align: center;
}



   /* for mobile */

@media only screen and (max-width:738px){

     

}

   /* for tablets */
   
   @media only screen and (max-width:1024px){

   }

   /* for desktop */
   
   @media only screen and (max-width:1366px){

   }



